<%!
      from Backends.Common.TemplateEngine.Functions import is_complex_type
%>



<%def name="write_transfer_to_device(vars, prefix = '', suffix = '')">
       /* Begin template: write_transfer_to_device , file: device_transfers.tmpl */
       % for var in vars:
               %if is_complex_type(var):
##                     cudaMalloc((void **) (&${prefix}${var.name}${suffix}), ${var.numelems} * sizeof(${var.type}));
                     cudaMemcpy(${prefix}${var.name}${suffix}, ${var.name}, ${var.numelems} * sizeof(${var.type}), cudaMemcpyHostToDevice); 
                ;

               %endif 
         % endfor 
       /* End template: write_transfer_to_device , file: device_transfers.tmpl */
</%def>


<%def name="write_transfer_from_device(vars, prefix = '', suffix = '')">
       /* Begin template: write_transfer_from_device , file: device_transfers.tmpl */
       % for var in vars:
               %if is_complex_type(var):
                     cudaMemcpy(${var.name}, ${prefix}${var.name}${suffix},${var.numelems} * sizeof(${var.type}), cudaMemcpyHostToDevice); 
               %endif 
         % endfor 
       /* End template: write_transfer_from_device , file: device_transfers.tmpl */

</%def>

